Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/nasha-react/**/*.{tsx,ts}", prettier --write "packages/manager/apps/nasha-react/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json

feat(iam): make routes a module
  packages/manager/modules/iam/src/routes/createPolicy.route.js
  packages/manager/modules/iam/src/routes/iam.route.js
  packages/manager/modules/iam/src/routes/index.js
  packages/manager/modules/iam/src/routes/policies.route.js
  packages/manager/modules/iam/src/routes/policy.route.js
Due: eslint --fix

feat(iam): add entry menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/account/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/user/session/user-session.controller.js
  packages/manager/apps/iam/package.json
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/iam.constant.js
  packages/manager/modules/iam/src/iam.routing.js
  packages/manager/modules/iam/src/iam.routing.resolve.js
  packages/manager/modules/iam/src/iam.template.html
  packages/manager/modules/iam/src/index.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/nasha-react/**/*.{tsx,ts}", prettier --write "packages/manager/apps/nasha-react/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

feat(iam): set up resolves
  packages/manager/modules/iam/.gitignore
  packages/manager/modules/iam/src/iam.routing.resolve.js
  packages/manager/modules/iam/src/resolves/breadcrumbs.resolve.js
  packages/manager/modules/iam/src/resolves/guides.resolve.js
  packages/manager/modules/iam/src/resolves/index.js
  packages/manager/modules/iam/src/resolves/misc.resolve.js
  packages/manager/modules/iam/src/resolves/params.resolve.js
  packages/manager/modules/iam/src/resolves/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/resolves/types/cursors.type.js
  packages/manager/modules/iam/src/resolves/types/index.js
Due: prettier --write, eslint --fix

feat(iam): make constants a module
  packages/manager/modules/iam/src/constants/index.js
Due: eslint --fix

feat(iam): set up routes
  packages/manager/modules/iam/src/iam.routing.js
  packages/manager/modules/iam/src/index.js
  packages/manager/modules/iam/src/routes/iam.route.js
  packages/manager/modules/iam/src/routes/index.js
  packages/manager/modules/iam/src/routes/policies.route.js
  packages/manager/modules/iam/src/routes/policy.route.js
Due: eslint --fix

feat(dedicated): add IAM application
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/iam/.eslintrc.json
  packages/manager/apps/iam/README.md
  packages/manager/apps/iam/package.json
  packages/manager/apps/iam/src/iam.module.js
  packages/manager/apps/iam/src/iam.styles.scss
  packages/manager/apps/iam/src/iam.template.html
  packages/manager/apps/iam/src/index.js
  packages/manager/apps/iam/webpack.config.js
  packages/manager/modules/iam/README.md
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/iam.routing.js
  packages/manager/modules/iam/src/index.js
  packages/manager/modules/iam/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(iam): make resolves a module
  packages/manager/modules/iam/src/resolves/breadcrumbs.resolve.js
  packages/manager/modules/iam/src/resolves/index.js
  packages/manager/modules/iam/src/resolves/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

feat(iam): set up services
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/guide.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/policy.service.js
  packages/manager/modules/iam/src/services/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

feat(iam): set up constants
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/constants/index.js
  packages/manager/modules/iam/src/iam.constant.js
Due: eslint --fix

feat(iam): resource group datagrid
  packages/manager/modules/iam/src/components/cursorDatagrid/cursorDatagrid.component.js
  packages/manager/modules/iam/src/components/cursorDatagrid/cursorDatagrid.controller.js
  packages/manager/modules/iam/src/components/cursorDatagrid/cursorDatagrid.resolves.js
  packages/manager/modules/iam/src/components/cursorDatagrid/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.controller.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.template.html
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/policies/policies.template.html
  packages/manager/modules/iam/src/components/policies/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/policy/policy.template.html
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.component.js
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.controller.js
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.resolves.js
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.template.html
  packages/manager/modules/iam/src/components/resourceGroups/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/routes/resourceGroups.route.js
  packages/manager/modules/iam/src/routes/root.route.js
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/resourceGroup.service.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(iam): update identities links
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.controller.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.resolves.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.template.html
  packages/manager/modules/iam/src/components/deleteEntity/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.component.js
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.controller.js
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.resolves.js
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.template.html
  packages/manager/modules/iam/src/components/policyIdentities/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/resolves/breadcrumbs.resolve.js
  packages/manager/modules/iam/src/resolves/misc.resolve.js
  packages/manager/modules/iam/src/resolves/params.resolve.js
  packages/manager/modules/iam/src/resolves/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/resolves/types/index.js
  packages/manager/modules/iam/src/resolves/types/urn.type.js
  packages/manager/modules/iam/src/resolves/types/uuid.type.js
  packages/manager/modules/iam/src/routes/deleteIdentity.route.js
  packages/manager/modules/iam/src/routes/policyIdentities.route.js
  packages/manager/modules/iam/src/routes/root.route.js
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/identity.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/policy.service.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

build(iam): make the module buildable
  packages/manager/apps/dedicated/webpack.config.js
  packages/manager/apps/iam/webpack.config.js
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/rollup.config.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.controller.js
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.controller.js
  packages/manager/modules/iam/src/constants/index.js
  packages/manager/modules/iam/src/iam.module.js
  packages/manager/modules/iam/src/index.scss
  packages/manager/modules/iam/src/routes/index.js
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/tools/webpack-config/src/webpack.common.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(iam): lazy load iam module
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/iam.module.js
  packages/manager/modules/iam/src/index.js
  packages/manager/modules/iam/src/index.scss
Due: prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(iam): feature delete resource group
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.controller.js
  packages/manager/modules/iam/src/components/deleteEntity/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.controller.js
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/resolves/misc.resolve.js
  packages/manager/modules/iam/src/resolves/params.resolve.js
  packages/manager/modules/iam/src/routes/deleteResourceGroup.route.js
  packages/manager/modules/iam/src/routes/root.route.js
Due: prettier --write, eslint --fix

feat(iam): delete a policy
  .gitignore
  packages/manager/modules/iam/.gitignore
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.component.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.controller.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.resolves.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.template.html
  packages/manager/modules/iam/src/components/deleteEntity/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/iam/iam.template.html
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/policies/policies.template.html
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/constants/index.js
  packages/manager/modules/iam/src/resolves/breadcrumbs.resolve.js
  packages/manager/modules/iam/src/resolves/guides.resolve.js
  packages/manager/modules/iam/src/resolves/index.js
  packages/manager/modules/iam/src/resolves/misc.resolve.js
  packages/manager/modules/iam/src/resolves/params.resolve.js
  packages/manager/modules/iam/src/resolves/types/cursors.type.js
  packages/manager/modules/iam/src/resolves/types/index.js
  packages/manager/modules/iam/src/resolves/types/uuid.type.js
  packages/manager/modules/iam/src/routes/createPolicy.route.js
  packages/manager/modules/iam/src/routes/deletePolicy.route.js
  packages/manager/modules/iam/src/routes/iam.route.js
  packages/manager/modules/iam/src/routes/index.js
  packages/manager/modules/iam/src/routes/policies.route.js
  packages/manager/modules/iam/src/routes/policy.route.js
  packages/manager/modules/iam/src/routes/root.route.js
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/policy.service.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(iam): make services a module
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/policy.service.js
Due: eslint --fix

feat(iam): revamp components exports
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.component.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.module.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.resolves.js
  packages/manager/modules/iam/src/components/createPolicy/index.js
  packages/manager/modules/iam/src/components/iam/iam.module.js
  packages/manager/modules/iam/src/components/iam/index.js
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/index.js
  packages/manager/modules/iam/src/components/policies/policies.component.js
  packages/manager/modules/iam/src/components/policies/policies.module.js
  packages/manager/modules/iam/src/components/policies/policies.resolves.js
  packages/manager/modules/iam/src/components/policy/index.js
  packages/manager/modules/iam/src/components/policy/policy.component.js
  packages/manager/modules/iam/src/components/policy/policy.module.js
  packages/manager/modules/iam/src/components/policy/policy.resolves.js
Due: eslint --fix

build(iam): set up the build env
  packages/manager/apps/dedicated/webpack.config.js
  packages/manager/apps/iam/webpack.config.js
  packages/manager/modules/iam/package.json
  packages/manager/tools/webpack-config/src/webpack.common.js
Due: prettier --write, eslint --fix, npx sort-package-json

feat: use a select box on gtr options for migration and move offers (#8988)
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(anthos): remove missed files during rebase (#9143)
  packages/manager/apps/anthos/CHANGELOG.md
  packages/manager/apps/anthos/package.json
Due: prettier --write, npx sort-package-json

fix(anthos): remove anthos missed deps (#9144)
  packages/manager/apps/dedicated/client/app/app.module.js
Due: eslint --fix

feat(project.billing): remove ML serving from billing page (#9109)
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

fix(container): fix typo in switch language in fr (#9035)
  packages/manager/apps/container/src/public/translations/language/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/language/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/language/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/language/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/language/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/language/Messages_pt_PT.json
Due: prettier --write

feat(web): remove owo feature from manager (#9130)
  packages/manager/apps/web/client/app/domain/dashboard/domain.module.js
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/email-obfuscation/email-obfuscation.component.js
  packages/manager/apps/web/client/app/domain/email-obfuscation/email-obfuscation.constant.js
  packages/manager/apps/web/client/app/domain/email-obfuscation/email-obfuscation.controller.js
  packages/manager/apps/web/client/app/domain/email-obfuscation/email-obfuscation.html
  packages/manager/apps/web/client/app/domain/email-obfuscation/index.js
  packages/manager/apps/web/client/app/domain/email-obfuscation/routes.js
  packages/manager/apps/web/client/app/domain/email-obfuscation/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/email-obfuscation/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/email-obfuscation/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/email-obfuscation/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/email-obfuscation/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/email-obfuscation/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/email-obfuscation/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/email-obfuscation/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.state.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(public-cloud): fix the access onboarding page on object storage (#9140)
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/onboarding.routing.js
Due: eslint --fix

release: indium-insect
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/support/CHANGELOG.md
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/CHANGELOG.md
  packages/manager/modules/billing/package.json
  packages/manager/modules/hub/CHANGELOG.md
  packages/manager/modules/hub/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/support/CHANGELOG.md
  packages/manager/modules/support/package.json
Due: prettier --write, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/app.a778f241.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 2212]
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_CA.json
Due: prettier --write

fix(dedicated.pcc): disable add vdc if nsx pcc
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.pcc): add datacenter commercial name translation
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/translations/Messages_fr_FR.json
Due: prettier --write

fix(dedicated.ip): change disclaimer content on byoip
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_fr_FR.json
Due: prettier --write

fix(i18n): add missing translations [CDS 2213]
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/translations/Messages_pt_PT.json
Due: prettier --write

fix(pci.instances): do not create a floating ip if selected one
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Due: eslint --fix

fix(dedicated.ip): resolve hover css issue
  packages/manager/apps/dedicated/client/app/ip/ip.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

feat(dedicated.ip): add filter option based on ip version
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.service.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(iam): add user management link
  packages/manager/modules/iam/src/components/policy/policy.resolves.js
  packages/manager/modules/iam/src/components/policy/policy.template.html
  packages/manager/modules/iam/src/resolves/misc.resolve.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pcc): split conformity and vmware option tiles
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/service-management.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

fix(pcc): rename vrops option and remove get start link
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/basic-option.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/basic-option.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/models/bindings/bindings.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/nasha-react/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/nasha-react/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
